{% extends "base.html" %}
{% block manager %}
<div class='grid grid-cols-7 h-screen '>
    <div class='col-span-2 p-2 bg-slate-800 m-2 rounded-lg text-lg font-mono font-bold text-left'>
        <div id='posts' class='p-2 m-2 bg-yellow-500 text-slate-800  rounded-lg border border-yellow-100'>
            Posts
        </div>
        <div id='cartlist' class='p-2 m-2 bg-yellow-500 text-slate-800  rounded-lg border border-yellow-100'>
            Cart List
        </div>
        <div id='userslist' class='p-2 m-2 bg-yellow-500 text-slate-800  rounded-lg border border-yellow-100'>
            Users List
        </div>
        <div id='orderlist' class='p-2 m-2 bg-yellow-500 text-slate-800  rounded-lg border border-yellow-100'>
            Order List
        </div>
        <div id='flaglist' class='p-2 m-2 bg-yellow-500 text-slate-800  rounded-lg border border-yellow-100'>
            Flaged Items
        </div>
    </div>
    <div class='col-span-5 text-left p-2 bg-gray-900 m-2 rounded-lg h-scrreen overflow-y-scroll sup-scrollbar'>
    {% include "Manager/Posts.html" %}
    {% include "Manager/Orders.html" %}
    {% include "Manager/User.html" %}
    {% include "Manager/Cart.html" %}
    {% include "Manager/Flags.html" %}
    </div>
</div>
{% endblock manager %}