<footer class='text-slate-300 bg-slate-900 text-center w-full items-center'>
        
<div class='flex'>
        <a href=''>
        <div class='flex-1 text-center w-full text-xl py-20  w-34'>
                <h2 class='text-2xl font-mono font-extrabold'>Come teach with us</h2>
                <p>Become an instructor and change lives — including your own</p>
                <p>
                        <a href='{% url "join-now" %}'>
                        <button class='bg-blue-700 rounded-sm border border-blue-200 p-2  w-72 my-4'>Get Started</button>
                        </a>    
                </p>
        </div>
        </a>    
                
</div>
<div>
<span class='bg-clip-text text-xl lg:text-4xl text-transparent bg-gradient-to-r  from-orange-700 via-indigo-500 to-blue-500'>TutorsCloud</span><br/>
</div>
<div class='text-slate-400 px-4 text-center'>
        <h3 class='font-semibold text-lg '>Connect With Us</h3>
        <p>Follow us on social media to stay updated on the latest trends, student achievements, and industry news. Join our community of students!

        </p>
    </div>
    <div class='flex-1  mb-6 mt-1 py-6 text-center'>
        <div class='grid grid-cols-4'>
            <div class=''><i class="fa-brands fa-square-facebook text-blue-500 w-12 h-12"></i></div>
            <div class=''><i class="fa-brands fa-whatsapp text-green-500 w-12 h-12"></i></div>
            <div class=''><i class="fa-brands fa-youtube text-red-500 w-12 h-12"></i></div>
            <div class=''><i class="fa-brands fa-instagram text-rose-600 w-12 h-12"></i></div>
        </div>
    </div>
</footer>