{% extends "base.html" %}
{% block tutor_join_form %}
<div class='flex items-left justify-left text-left text-slate-200 h-full'>
    <form class='flex-1 py-12  sm:mx-4 md:mx-12 lg:mx-20 xl:mx-32 2xl:mx-96 px-12 w-full h-full bg-slate-800 mt-32' action='' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        
        <p class='text-center text-2xl font-bold'>Fill up form and start teaching</p><br>
        <br>
        <div class='h-full w-full'>
        {% for field in form  %}
            <p>{{field.label}}</p><br>
            <p>{{field}}</p><br>
            <p>{{field.error}}</p><br>
        {% endfor %}
        </div>
        <div class='grid grid-cols-3 h-12 my-12'>
                <div  class='col-span-1'></div>
                <div class='col-span-1'></div>
                <div class='col-span-1'>
                    <input class='text-center  bg-blue-500 w-full rounded-md border border-blue-200 p-2 ' type='submit' value='Submit'></input>
                </div>   
        </div>
        <div class='items-center text-center'>
        <p class='border-b-2 border-violet-700'>
            By signing up, you agree to our  <span class='font-bold text-violet-500 underline'><a>Terms of Use </a></span>and
            <span class='font-bold text-violet-500 underline'><a>Privacy Policy</a></span>
        </p><br>
        <p class='divide-y-2 divide-slate-300'>
            Already have an account? <span class='font-bold text-violet-500 underline'><a href="{% url "login-page" %}">Log in</a></span>
        </p><br>
        </div>
    </form>
</div>
{% endblock tutor_join_form %}