{% extends "base.html" %}
{% block tutor_join_form %}
<div class='flex items-center justify-center text-center text-slate-200'>
    <form class='py-12 mx-44 px-4 w-full' action='' method='POST'>
        {% csrf_token %}
        
        <p class='text-left font-bold'>Fill up form and start teaching</p><br>
        {{form.as_p}}<br>
        <p class='items-end justify-end'>
            <input class='text-center w-full  p-2' type='text'></input>
        </p><br>
     
        <p class='bg-green-200'>
            <input class='text-center  bg-blue-500 w-60 p-2 ' type='submit' value='Submit'></input>
        </p><br>
        <p class='border-b-2 border-slate-300'>
            By signing up, you agree to our  <span class='font-bold text-violet-500 underline'><a>Terms of Use </a></span>and
            <span class='font-bold text-violet-500 underline'><a>Privacy Policy</a></span>
        </p><br>
        <p class='divide-y-2 divide-slate-300'>
            Already have an account? <span class='font-bold text-violet-500 underline'><a href="{% url "login-page" %}">Log in</a></span>
        </p><br>
    </form>
</div>
{% endblock tutor_join_form %}