{% extends "base.html" %}
{% block forgotpassword %}
<div class='flex items-center justify-center text-center text-slate-200'>
    <form class='py-12 px-4 w-96'>
    <p class='text-left font-bold'>Forgot Password</p><br>
    <p>
        <input class='w-full text-slate-800' type='email'></input>
    </p><br>
    <p class=''>
            
        {% for field in form %}
        {% if field.errors %}
            <p class='text-red-500 p-2 text-left'>
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endif %}
    {% endfor %}
    </p><br>        
    <p class=''>
    <p class=''>
        <input class='text-center bg-blue-500 w-full p-2' type='submit' value='Reset Password'></input>
    </p><br>

    <p class=''>
        or <span class='font-bold text-violet-500 underline'><a href="{% url "login" %}">Login</a></span>
    </p><br>
    </form>
</div>

{% endblock forgotpassword %}