{% extends "base.html" %}

{% block tutor_profile_page %}
<div class='p-4'>
    
    {% for item in data %}
    <ul class='my-2 border-b border-b-blue-700 py-4'>
        <div class='text-justify overflow-x-scroll .sup-scrollbar '>
            <div class='flex xs:flex-col xm:flex-col sm:flex-col md:flex-col lg:flex-col xl:flex-col 2xl:flex-col  gap-2 items-center'>
            <img src="/media/{{item.thumbnail}}" alt='name' class='w-[20%] xs:w-[80%] h-[10%]  flex-1'>
            <video controls autoplay-off class='w-[20%] xs:w-[80%] h-[10%] flex-1'>
                <source src="/media/{{item.video}}" type='video/mp4'>
            </video>
            </div>
        </div>
        <div class='text-right mt-4 '>
            <div class=''>
                <a href="{% url 'item-delete-page' item.id %}">
                    <button type='submit' class='p-2 w-72 bg-red-700 rounded-md border border-red-200' aria-label="Delete">Delete</button>
                </a>
            </div><br>
            <div class=''>
                <a href="{% url 'item-update-page' item.id %}">
                    <button type='submit' class='p-2 w-72 bg-green-700 rounded-md border border-green-200' aria-label="Delete">Update</button>
                </a>
            </div>

            
        </div>
    </ul>
    {% endfor %}
        
</div>
{% endblock tutor_profile_page %}
