

<div class='flex items-center justify-center text-center text-slate-200'>
    <form class='py-12 px-4 w-96' method='POST' action=''>
        {% csrf_token %}
        <input type="password" name="old_password"  required >

        <div class="" id="id_new_password1_helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></div>

        <input type="password" name="new_password1"  required  >
            
        <input type="password" name="new_password2"  required >  

                    
        <button type="submit">Change Password</button>
        <p class='border-b-2 border-slate-300'>
            or <span class='font-bold text-violet-500 underline'><a href="{% url "password-forget" %}">Forgot Password</a></span>
        </p><br>
        <p class='divide-y-2 divide-slate-300'>
            Dont have an account? <span class='font-bold text-violet-500 underline'><a href="{% url "signup-page" %}">Sign Up</a></span>
        </p><br>
    </form>
</div>


