{% extends "base.html" %}
{% block home %}
<div class='w-full'>
    
    {% for item in form  %}       
        <ul class='my-2 p-2'>
           
            <div class='bg-slate-800  grid md:grid-cols-2 gap-2 p-2 h-full'>
                <div class='p-2 col-span-1 rounded-lg bg-black'>
                <div>
                <h3 class='font-bold text-lg text-gray-300 text-ellipsis overflow-x-scroll no-scrollbar'>{{item.title|capfirst}}</h3>
                </div>
                <video controls autoplay-off class='w-full'>
                    <source src="/media/{{item.video}}" type='video/mp4'>
                </video>
                <div class='grid grid-cols-5 text-right'>
                    <div class='col-span-1'></div>
                    <div class='col-span-1'></div>
                    <div class='col-span-1'></div>
                    <div class='col-span-1'>
                        {% if user.is_authenticated %}
                        {% if user.id in item.liked_users %}
                            <form action="{% url 'like_video' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit"><i class="fa-solid fa-heart  text-orange-600 w-8 h-8 "></i> you liked</button>
                            </form>
                        {% else %}
                            <form action="{% url 'like_video' item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class=''><i class="fa-regular fa-heart  text-orange-600 w-8 h-8 "></i></i>add like</button>
                            </form>
                        {% endif %}
                        {% else %}
                        <a href="{% url 'login' %}"><button type="submit" class=''><i class="fa-regular fa-heart  text-orange-600 w-8 h-8 "></i></i>add like</button></a>
                        {% endif %}
                    </div>
                    <div class='col-span-1'>
                        {% if user.is_authenticated %}
                        {% if user.id in item.cart_users %}
                            <form action="{% url 'cart-item' item.id %}" method="post"> 
                                {% csrf_token %}  
                            <button type='submit' class=''>Item carted:<i class="fa-solid fa-cart-shopping w-8 h-8 font-serif 
                                items-center p-2  text-orange-700"></i></button>
                            <br>
                            </form>
                        {% else %}
                            <form action="{% url 'cart-item' item.id %}" method="post"> 
                                {% csrf_token %}  
                            <button type='submit' class=''>Add To Cart:<i class="fa-solid fa-cart-shopping w-8 h-8 font-serif 
                                items-center p-2  text-slate-200 hover:text-slate-200"></i></button>
                            <br>
                            </form>
                        {% endif %}
                        {% else %}
                            <a href="{% url 'login' %}"><button type='submit' class=''><i class="fa-solid fa-cart-shopping w-8 h-8 font-serif 
                                items-center p-2  text-orange-700"></i></button></a> 
                        {% endif %}
                    </div>
                </div>
                </div>
                <div class='p-2 col-span-1 overflow-y-scroll  no-scrollbar py-2'>
                <h3>Posted By : {{item.instructor.username}}</h3>
                <p>Published On : {{item.created_at}}</p>
                <p>Price: {{item.price}}</p>
                <p>Description:  {{item.description}}</p>
                <p>Likes: {{item.total_likes}}</p>
                <p>Rate:
                    <form action="{% url 'rate-video' item.id %}" method="post"> 
                        {% csrf_token %}  
                    <button type='submit' class='' name='rating' value=5>Rate Video 5</button>
                    <br>
                    </form>
                </p>
                
                {% if user.is_authenticated %}
                {% if user.id in item.cart_users %}
                    <form action="{% url 'cart-item' item.id %}" method="post"> 
                        {% csrf_token %}  
                    <button type='submit' class=''>Item carted:<i class="fa-solid fa-cart-shopping w-8 h-8 font-serif 
                        items-center p-2  text-orange-700"></i></button>
                    <br>
                    </form>
                {% else %}
                    <form action="{% url 'cart-item' item.id %}" method="post"> 
                        {% csrf_token %}  
                    <button type='submit' class=''>Add To Cart:<i class="fa-solid fa-cart-shopping w-8 h-8 font-serif 
                        items-center p-2  text-slate-200 hover:text-slate-200"></i></button>
                    <br>
                    </form>
                {% endif %}
                {% else %}
                    <a href="{% url 'login' %}"><button type='submit' class=''>Item carted:<i class="fa-solid fa-cart-shopping w-8 h-8 font-serif 
                        items-center p-2  text-orange-700"></i></button></a> 
                {% endif %}
                    
            
                {% if user.is_authenticated %}
                {% if user.id in item.liked_users %}
                    <form action="{% url 'like_video' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><i class="fa-solid fa-heart  text-orange-600 w-8 h-8 "></i> you liked</button>
                    </form>
                {% else %}
                    <form action="{% url 'like_video' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class=''><i class="fa-regular fa-heart  text-orange-600 w-8 h-8 "></i></i>add like</button>
                    </form>
                {% endif %}
                {% else %}
                   <a href="{% url 'login' %}"><button type="submit" class=''><i class="fa-regular fa-heart  text-orange-600 w-8 h-8 "></i></i>add like</button></a>
                {% endif %}
                </div>

            </div>
        </ul>  

    {% endfor %}
    
        
</div>
{% endblock home %}