
<nav class='flex h-24 lg:h-20 justify-between bg-slate-900 items-center  shadow-xl shadow-slate-800 w-full'>
        
    <a href="{% url "home-page" %}"  class='font-serif text-lg lg:text-4xl font-extrabold mx-2' >
        <span class=" bg-clip-text text-transparent bg-gradient-to-r  from-orange-700 via-indigo-500 to-blue-500  align-middle ">
        TutorsCloud
        </span>
    </a>
    {% if user.is_authenticated %}
        <div  class=' mx-2 flex  py-3'>
            <a>
            <button class=' text-ellipsis text text-lg  overflow-x-hidden' id='user_sidebar'><span class='bg-clip-text text-transparent bg-gradient-to-r  from-blue-700 via-indigo-500 to-orange-500'>Hello {{user}}!</span></button>
            </a>
        </div>  
    {% else %}
    <div  class=' mx-2 flex  py-3 xs:hidden xm:hidden sm:hidden  md:flex lg:flex xl:flex 2xl:flex'>
        <a>
        <button class=' text-ellipsis text text-lg  overflow-x-hidden' id='home_sidebar'><span class='bg-clip-text text-transparent bg-gradient-to-r  from-blue-700 via-indigo-500 to-orange-500'>Menu</span></button>
        </a>
    </div> 
    {% endif %}
        <div class='flex text-teal-900 align-middle py-0.5 px-4 '>
        <div  class='mx-2  hidden lg:flex xl:flex 2xl:flex  hover:text-slate-200 items-center justify-center text-2xl bg-clip-text text-transparent bg-gradient-to-r  from-orange-700 via-indigo-500 to-blue-500' id='nav_category_link'>
            
            Categories
            
        </div> 
        <div  class=' mx-2 py-3 hidden xl:flex 2xl:flex items-center justify-center text-2xl bg-clip-text text-transparent bg-gradient-to-r  from-orange-700 via-indigo-500 to-blue-500'>
           <form action="{% url "home-page" %}" method='get' class='flex '>
            <input class='flex-1 rounded-l-lg w-96 text-slate-800' placeholder='Search Here' type='text' name='search'></input>
            <button
                type="submit"
                class="bg-green-700 rounded-r-lg flex-initial text-slate-800 p-2 hover:bg-blue-700"
                >Search</button>
           </form>
        </div> 
        <div  class='mx-2  hidden lg:flex xl:flex 2xl:flex hover:text-slate-200 items-center justify-center text-2xl bg-clip-text text-transparent bg-gradient-to-r  from-orange-700 via-indigo-500 to-blue-500'>
            <a href="{% url "tutor-home" %}">
            Start Tutoring
            </a>
        </div> 
        <div  class=' mx-2 sm:flex  md:flex lg:flex xl:flex 2xl:flex py-2'>
            
            {% if user.is_authenticated %}
                
            <div class='grid grid-flow-row row-span-1 h-full'>
                <div class='col-span-1 h-1/3 text-center items-baseline text-green-500'>
                    {{total_cart}}
                </div>
                <div class='col-span-1 h-2/3'>
                <a href="{% url "cart-page" %}">
                <i class="fa-solid fa-cart-plus w-6 h-6 font-serif 
                items-center   text-blue-200 hover:text-blue-700"  ></i>
                </a>
                </div>
            </div>
            {% else %}
            <div class='grid grid-flow-row row-span-1  py-3'>
                <div class='col-span-1'>
                <a href="{% url "cart-page" %}">
                <i class="fa-solid fa-cart-plus w-8 h-8 p-2 font-serif 
                items-center   text-blue-200 hover:text-blue-700"  ></i>
                </a>
                </div>
            </div>
            
            {% endif %}
                
        </div> 
        <div  class=' mx-2 sm:flex  md:flex lg:hidden xl:hidden 2xl:hidden py-3' id='sidebar_link'>
            <a>
            <i class="fa-solid fa-bars w-8 h-8 font-serif 
            items-center p-2  text-blue-200 hover:text-blue-700"  ></i>
            </a>
        </div>  
         
        {% if user.is_authenticated %}
            
            <div  class='mx-2 hidden lg:flex xl:flex 2xl:flex py-4'>
                <a href="{% url "logout-page" %}">
                <button class=' font-serif rounded-md 
                items-center   h-12 px-8
                text-white hover:text-black bg-white   border border-violet-700 shadow-lg '>
                <span class='bg-clip-text text-transparent bg-gradient-to-r  from-orange-700 via-indigo-500 to-blue-500'>Logout</span>
                </button>
                </a>
            </div>  
         {% else %} 
            <div  class='mx-2 hidden lg:flex xl:flex 2xl:flex py-4'>
                <a href="{% url "login-page" %}">
                <button class=' font-serif rounded-md 
                items-center   h-12 px-8
                text-white hover:text-black  bg-white border border-violet-700 shadow-lg '>
                <span class='bg-clip-text text-transparent bg-gradient-to-r  from-orange-700 via-indigo-500 to-blue-500'>Login</span>
                </button>
                </a>
            </div> 
        {% endif %}
      
         
         {% if user.is_authenticated %}
         {% else %}
            
         <div  class='mx-2 hidden  lg:flex xl:flex 2xl:flex py-4'>
             <a href="{% url "signup-page" %}">
             <button class=' font-serif rounded-md
             items-center h-12  px-8 
             text-white hover:text-black hover:bg-slate-300  border border-violet-700 shadow-lg '>
             <span class='bg-clip-text text-transparent bg-gradient-to-r  from-orange-700 via-indigo-500 to-blue-500'>SignUp</span>
             </button>
             </a>
         </div>  
         {% endif %}
               
        

    </div>
    
</nav>
<div class='flex rounded-b-xl  bg-yellow-500 text-blue-500 font-serif font-bold' >
    <ul id='category_div' class='hidden p-4 w-full'>
        
        <li class='text-right p-2 border-b border-violet-500' id='nav_category_link_hide'><i class="fa-solid fa-xmark w-8 h-8 font-serif 
            items-center p-2  text-slate-900 hover:text-blue-700"></i></li>
        {% for items in category %}
        <li class='border-b border-violet-500' id='nav_category_item_hide'>
            <form action="{% url "home-page" %}" method='get' class='flex '>
            <button type='submit' name='category' value="{{items.name}}">
            {{items.name}}
            <button>
            </form>
        </li>
        {% endfor %}
        
    </ul>
</div>
<div id='sidebar_div' class='hidden rounded-b-xl  text-slate-800 font-serif font-bold h-full ' >
    <div class='p-4 w-full rounded-b-xl  bg-yellow-500 overflow-y-scroll sup-scrollbar'>
    
        <p class='text-right p-2 ' id='sidebar_link_hide'><i class="fa-solid fa-xmark w-8 h-8 font-serif 
            items-center p-2  text-slate-900 hover:text-blue-700"></i></p>

        <div  class=' mx-2  py-3  items-center justify-center text-2xl bg-clip-text text-transparent bg-gradient-to-r  from-orange-700 via-indigo-500 to-blue-500'>
            <form action="{% url "home-page" %}" method='get' class='flex flex-col'>
                <input class='flex rounded-lg w-full px-2 text-slate-800' placeholder='Search Here' type='text' name='search1'></input>
                <button
                    type="submit"
                    class="my-1 w-32 text-center bg-green-700 rounded-lg text-slate-800 p-2 hover:bg-blue-700"
                    >Search</button>
            </form>
            {% if user.is_authenticated %}
            <ul>
                <li>
                <p class=' text-lg text-left text-violet-700 py-1 my-2'>
                    <form action="{% url "home-page" %}" method='get' class=''>
                    <button type='submit' class=' p-2' name='category_like'>
                    Liked Videos
                    <button>
                    </form>
                </p>
                </li>
                <li>
                <p class=' text-lg text-left text-violet-700 py-1 my-2'>
                    <form action="{% url "home-page" %}" method='get' class=''>
                    <button type='submit' class=' p-2' name='category_cart'>
                    Cart Items 
                    <button>
                    </form>
                </p>
                </li>
                <li>
                <p class=' text-lg text-left text-violet-700 py-1 my-2'>
                    <form action="{% url "home-page" %}" method='get' class=''>
                    <button type='submit' class=' p-2' name='category_rated'>
                    Rated Items
                    <button>
                    </form>
                </p>
                </li>
                <li>
                    <p class=' text-lg text-left text-violet-700 py-1 my-2'>
                        <form action="{% url "home-page" %}" method='get' class=''>
                        <button type='submit' class=' p-2' name='category_purchased'>
                        Enrolled Courses
                        <button>
                        </form>
                    </p>
                </li>
                <li>
                    <p class=' text-lg text-left text-violet-700 py-1 my-2'>
                        <form action="{% url "home-page" %}" method='get' class=''>
                        <button type='submit' class=' p-2' name='category_posts'>
                        Your Posts
                        <button>
                        </form>
                    </p>
                </li>

            </ul>
        {% endif %}
        </div> 
        <p  class='text-left  border-b border-orange-500 text-lg bg-slate-800' id='sidebar_category_arrow_down'>
            <span  class='py-1  w-full text-blue-700 px-2'>
            <i   class="fa-solid fa-chevron-down  font-serif 
            items-center   text-violet-700 hover:text-blue-700 "></i>
                Category
            </span>
        </p>
            <div id='sidebar_category_list' class='hidden'>
                <ul  class=''>
                    {% for items in category %}
                    <li   class=' border-b border-violet-500' >
                        <form action="{% url "home-page" %}" method='get' class=''>
                        <button type='submit' name='category' value="{{items.name}}">
                        {{items.name}}
                        </button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
                <p class='text-center bg-slate-800' id='sidebar_category_arrow_up'><button   class=''><i  class="fa-solid fa-caret-up font-serif 
                    items-center  text-violet-700 hover:text-blue-700"></i></button></p>
            </div>
        </div>
        
        {% if user.is_authenticated %}
        <div class='grid grid-cols-2 gap-4 py-2 mt-4'>
            <div class='text-center'>
                <a href="{% url "logout-page" %}" class='p-2 border border-blue-200 bg-blue-700 rounded-md text-center'>Sign Out</a>
            </div>
            <div class='text-center'>
                <a href="{% url "signup-page" %}" class='p-2 border border-orange-200 bg-green-700 rounded-md text-center'>Sign Up</a>
            </div>
        </div>
        {% else %}
        <div class='grid grid-cols-2 gap-4 py-2 mt-4'>
            <div class='text-center'>
                <a href="{% url "login-page" %}" class='p-2 border border-blue-200 bg-blue-700 rounded-md text-center'>Sign In</a>
            </div>
            <div class='text-center'>
                <a href="{% url "signup-page" %}" class='p-2 border border-orange-200 bg-green-700 rounded-md text-center'>Sign Up</a>
            </div>
        </div>
        {% endif %}
            
            
    </div>
</div>
