{% extends "base.html" %}
{% block password_reset %}
<div class='flex items-center justify-center text-center text-slate-200 my-4'>
    <form class='py-12 px-4 w-96  bg-gray-800 ' method='POST' action=''>
        {% csrf_token %}
        <input class='w-full mb-4 text-slate-800' type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" placeholder='Your Registered Email'>
        <p class=''>
            
            {% for field in form %}
            {% if field.errors %}
                <p class='text-red-500 p-2 text-left'>
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
        {% endfor %}
        </p><br>        
        <p class=''>
        <p class=''>
            <input class='text-center bg-blue-500 w-full p-2' type='submit' value='Password Reset Mail'></input>
        </p><br>
        {% comment %} <p class='border-b-2 border-slate-300'>
            or <span class='font-bold text-violet-500 underline'><a href="{% url "password-forget" %}">Forgot Password</a></span>
        </p><br> {% endcomment %}
        <p class='divide-y-2 divide-slate-300'>
            Dont have an account? <span class='font-bold text-violet-500 underline'><a href="{% url "signup-page" %}">Sign Up</a></span>
        </p><br>
    </form>
</div>

{% endblock password_reset %}