{% extends "base.html" %}
{% block tutor_home %}
<div class='flex flex-col lg:flex-row  items-center justify-center'>
    <div class='flex-1 text-center w-full text-xl py-20'>
        <h2 class='text-7xl font-mono font-extrabold'>Come teach with us</h2>
        <p>Become an instructor and change lives — including your own</p>
        <p>
            <button class='bg-blue-700 rounded-sm border border-blue-200 p-2  w-72 my-4'>Get Started</button>
        </p>
    </div>

    <div class='flex-1 text-center w-full text-xl'>
      <img class='w-full h-full' src='https://images.unsplash.com/photo-1581078426770-6d336e5de7bf?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' alt='billboard_pic_tutor'>
    </div>
</div>

<div class='flex p-2 items-center justify-center bg-slate-700'>
    <div class=' text-center w-full text-xl py-20'>
    <h2 class='text-3xl font-mono font-bold'>Become an instructor today</h2>
    <p>Join one of the best online learning marketplaces.</p>
    <p>
        <button class='bg-blue-700 rounded-sm border border-blue-200 p-2  w-72 my-4'>Get Started</button>
    </p>
    </div>
</div>
{% endblock tutor_home %}